* {
        box-sizing: border-box;
}

body {
        margin: 0px;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
        margin-left: 1em;
        margin-right: 1em;
        overflow: hidden;
        font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
        font-family: monospace;
        font-weight: normal;
}

.configs-section, .settings-section, .setting-section {
        overflow: auto;
}
